@import url('./vars.css');
@import url('./fonts.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'RedHatText', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--rose-50);
}

.container {
    max-width: var(--desktop);
    width: 100%;
    margin: 0 auto;
    padding: 75px 0;
}

.layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 36px;
    justify-content: space-between;
}

aside {
    min-height: auto;
    height: min-content;

    background-color: white;
    border-radius: 12px;
    padding: 16px;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty p {
    color: var(--rose-500);
}

h1 {
    font-size: 48px;
    margin-bottom: 32px;
}

h2 {
    font-size: 32px;
    color: var(--red);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-flow: row; */
    gap: 20px;
}

.semi {
    font-weight: var(--semi-bold);
}

.bold {
    font-weight: var(--bold);
}

.product-img {
    border-radius: 16px;
}

.card-header {
    position: relative;
    margin-bottom: 32px;
}

.btn-default {
    background-color: white;
    padding: 14px 18px;
    border: 1px solid gray;
    border-radius: 32px;
    width: 210px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translateX(-55%);
    text-wrap: nowrap;
    transition: all ease 0.3s;
}

.btn-default:hover {
    filter: brightness(0.9);
    transition: all ease 0.3s;
}

.btn-count {
    background-color: var(--red);
    color: white;
    padding: 8px 18px;
    border: 1px solid gray;
    border-radius: 32px;
    width: 210px;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translateX(-55%);
    text-wrap: nowrap;
    transition: all ease 0.3s;
}

.btn-count button {
    background-color: transparent;
    border: 1px solid white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.category {
    color: gray;
    font-size: 15px;
    margin-top: 8px;
}

.product-name {
    font-weight: var(--semi-bold);
    margin: 8px 0;
}

.price {
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--red);
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 24px 0;
}

li button {
    background-color: transparent;
    border: 1px solid var(--rose-300);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.li-values {
    display: flex;
    align-items: center;
}

.li-name {
    font-weight: var(--semi-bold);
    margin-bottom: 24px;
}

.li-quantity {
    color: var(--red);
    font-weight: var(--semi-bold);
}

.li-default-value, .li-total-value {
    color: var(--rose-300);
}

.li-default-value {
    margin: 0 8px;
}

.li-total-value {
    font-weight: var(--semi-bold);
}

.cart-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.total-value{
    font-weight: var(--bold);
    font-size: 32px;
}

.carbon {
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rose-50);
    border-radius: 8px;
}

.carbon img { 
    height: 30px;
    margin-right: 8px;
}

.carbon p, .carbon span {
    font-size: 13px;
}

.carbon span {
    font-weight: var(--semi-bold);
}

.confirm-button {
    background-color: var(--red);
    color: white;
    border: none;
    margin: 16px 0 8px;
    padding: 16px;
    border-radius: 32px;
    width: 100%;
    cursor: pointer;
}

body {
    position: relative;
}

.modal-area {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    width:  600px;
    overflow-y: auto;
    max-height: 90%;
}

.modal-title {
    font-size: 48px;
    margin-bottom: 16px;
}

.modal-text {
    color: var(--red);
}

.resume, .modal .cart-value {
    background-color: var(--rose-50);
    padding: 16px;
}

.resume {
    margin-top: 32px;
}

.resume li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume .li-total-value {
    color: black; 
}

.resume img {
    width: 70px;
    margin-right: 16px;
}

@media (width <= 525px){
    h1 {
        font-size: 36px;
    }
    .container {
        max-width: var(--desktop);
        width: 80%;
        margin: 0 auto;
    }

    .layout, .grid-container {
        grid-template-columns: 1fr;
    }

    .card-header img {
        width: calc(100vw - 25%);
    }

    .btn-default, .btn-count {
        left: 53%;
    }

    .btn-count img {
        width: 16px
    }
}